* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url(./img/content-main.jpeg) bottom center/100% no-repeat; */
  background: url(https://optim.tildacdn.com/tild6464-6234-4565-a164-373837366163/-/format/webp/bg.png)
    center center/100% no-repeat;
  /* filter: blur(6px) grayscale(50%) brightness(50%); */
  filter: brightness(70%);
  z-index: -1;
}
/*  */

/*  */
/* HEADER */
/*  */

.header {
  width: 100%;
  /*  */
  width: 1119px;
  width: 80em;
  /* width: 1200px; */
  /*  */
  height: 10vh;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* background-color: transparent; */
}

.header__left {
  width: 25%;
  height: 100%;
  background: url(./img/logo-header.svg) center left/250px 70px no-repeat;
  cursor: pointer;
}

.header__center {
  width: 50%;
  /*  */
  width: 62%;
  /*  */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*  */
  justify-content: space-around;
  /*  */
  align-items: center;
}

/* .center__about {
} */

/* .center__services {
} */

.center__rate {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.rate__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, 15%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  /* display: none; */
}

.rate__modal::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 12px 10px;
  border-color: transparent transparent rgba(255, 255, 255) transparent;
  z-index: 1;
  transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  /* display: none; */
}

.rate__modal a {
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.rate__modal a:not(:last-child) {
  margin-bottom: 1.5em;
}

.rate__modal a:hover {
  color: #0098d4;
}

.center__rate:hover .rate__modal,
.center__rate:hover .rate__modal::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
  /* display: flex; */
}

.center__triangle-down {
  width: 14px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.triangle-down-svg {
  transition-property: fill, transform;
  transition-duration: 0.5s, 0.3s;
}

/* .center__career {
} */

/* .center__contact {
} */

.center__about,
.center__services,
.center__rate,
.center__career,
.center__contact,
.right__phone {
  position: relative;
  transition: color 0.5s;
  color: #ffff;
  text-decoration: none;
}

.center__about::after,
.center__services::after,
.center__career::after,
.center__contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #0098d4;
  transform: scale(0);
  transition: transform 0.5s;
}

.center__about:hover::after,
.center__services:hover::after,
.center__career:hover::after,
.center__contact:hover::after {
  transform: scale(1);
}

.center__about:hover,
.center__services:hover,
.center__rate:hover,
.center__career:hover,
.center__contact:hover,
.right__phone:hover {
  color: #0098d4;
}

.center__rate:hover .triangle-down-svg {
  fill: #0098d4;
  transition-property: fill, transform;
  transition-duration: 0.5s, 0.3s;
  transform: rotate(180deg);
}

.header__right {
  /* width: 25%; */
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*  */
}

.right__phone {
  font-size: 16px;
  background-color: transparent;
}

/*  */
/* MAIN */
/*  */

/* .content {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.content__info {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
}

/* .content__info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/content-main.jpeg) bottom center/100% no-repeat;
  filter: blur(6px) grayscale(80%);
  z-index: -1;
} */

.info__overlay {
  margin: auto 0;
  background-color: rgba(161, 161, 161, 0.5);
  /*  */
  background-color: rgba(161, 161, 161, 0.3);

  /*  */
  padding: 30px 40px;
  border-radius: 20px;
}

h1 {
  width: 1039px;
  font-size: 90px;
  font-weight: 700;
}

h2 {
  margin-top: 50px;
  padding-right: 553px;
  font-size: 32px;
  font-weight: 400;
}

h1 span {
  color: #0099d4;
}

.content__btn {
  margin-top: 50px;
  margin-right: 827px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
  background-color: #0099d4;
  transition: color 0.5s, background-color 0.5s;
}

.content__btn:hover {
  color: #0099d4;
  background-color: white;
  transition: color 0.5s, background-color 0.5s;
}

.content__marquee {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #0053a1;
  overflow: hidden;
}

.marquee__text {
  display: flex;
  margin-left: 2em;
  flex: 0 0 auto;
  letter-spacing: 0.1em;
  animation: marquee 14s linear forwards infinite;
}

.marquee__text p:not(:last-child) {
  margin-right: 4.5em;
}

.checkbox-svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/*  */
/* CONTENT__ABOUT */
/*  */

.content__about {
  width: 100%;
  /*  */
  width: 1119px;
  width: 1200px;
  /*  */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*  */
  margin: 0 auto;
  /*  */
  line-height: 1.7em;
  padding-top: 6em;
}

.about__upper {
  width: 100%;
  height: 42%;
  /*  */
  height: 52%;
  /*  */
  display: flex;
}

.upper__left {
  width: 50%;
  background: url(./img/logo-about.svg) center center/362px 137px no-repeat;
  /*  */
  background: url(./img/logo-about.svg) center left/362px 137px no-repeat;
  /*  */
}
.upper__right {
  width: 50%;
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper__right p {
  text-align: justify;
  font-size: 16px;
  color: black;
}

.upper__right span {
  font-weight: 700;
  color: inherit;
}

.upper__right a {
  color: #0053a1;
  /* text-decoration: none; */
}

.upper__right a:hover {
  color: #00b7ff;
}

.about__down {
  width: 100%;
  height: 58%;
  /*  */
  height: 48%;
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4em;
  /*  */
  padding-top: 9em;
  /*  */
}

.down__market,
.down__location,
.down__area,
.down__sending {
  position: relative;
  height: 100px;
}

.title,
.title > sup,
.title > span {
  font-size: 40px;
  font-weight: 700;
  color: #0053a1;
}

.title > sup {
  position: absolute;
  top: 0;
  right: 50%;
  right: 0;
  transform: translate(25%, -60%);
}

.title > span {
  font-size: 33px;
  font-weight: 800;
}

.text {
  width: 182px;
  padding-top: 1em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  color: black;
}

/*  */
/* CONTENT__SERVICES */
/*  */

.content__services {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-services {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.info-services > h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
}

.info-services > h3 {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
  animation: from-left 0.7s forwards;
}

.info-services > h3 > span {
  font-weight: 700;
}

.services__set {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 60px;
}

.set-btn {
  position: relative;
  width: 360px;
  /* width: 33.33%; */
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  padding: 0 30px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 650;
  color: #ffff;
  transition: transform 0.2s;
  z-index: 0;
}

.set-btn::before {
  border-radius: 10px;
}

.set-btn:hover {
  transform: scale(1.05);
}

.set-btn > p {
  width: 240px;
  padding-top: 110px;
  text-align: left;
}

.services__sea-freight > p {
  width: 200px;
}

.services__warehousing-services > p {
  width: 130px;
}

.services__oversized-cargoes-transportation > p > span {
  display: block;
  width: 255px;
}

.services__sea-freight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild3962-3135-4561-a635-656566323666/-/cover/432x336/center/center/-/format/webp/image.png)
    center center/100% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__railway-freight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild6530-3938-4464-b666-646639633562/-/cover/432x336/center/center/-/format/webp/noroot.jpg)
    center center/100% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__air-freight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild3861-3564-4766-a566-633937653135/-/cover/432x336/center/center/-/format/webp/noroot.jpg)
    center center/100% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__road-freight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild3264-3964-4535-a139-363664616536/-/cover/432x336/center/center/-/format/webp/image.png)
    center center/100% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__oversized-cargoes-transportation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild6236-6363-4535-b036-633136323230/-/cover/432x336/center/center/-/format/webp/noroot.jpg)
    center top/110% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__warehousing-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild3735-3735-4165-b033-356133346433/-/cover/432x336/center/center/-/format/webp/image.png)
    center center/100% no-repeat;
  filter: brightness(40%) contrast(80%);
  z-index: -1;
}

.services__sea-freight,
.services__railway-freight,
.services__air-freight {
  margin-bottom: 40px;
}

.services__railway-freight,
.services__oversized-cargoes-transportation {
  margin-left: 40px;
  margin-right: 40px;
}

.arrow-right-svg {
  width: auto;
  height: 40px;
  padding-top: 10px;
}

/*  */
/* CONTENT__ADDITIONAL-SERVICES */
/*  */

.content__additional-services {
  width: 100%;
  /* height: 76vh; */
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 251, 255);
}

.additional-services__info {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.additional-services__info > h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
}

.additional-services__info > h3 {
  width: 900px;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
  animation: from-left 0.7s forwards;
}

.info-additional__emphasis {
  font-weight: 700;
}

.info-additional__paragraph {
  display: block;
}

.info-additional__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
}

.cards-btn {
  width: 265px;
  height: 265px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1 0 auto;
  padding: 0 30px 30px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.2s;
  color: #ffff;
  background-color: #0053a1;
  z-index: 0;
}

.cards-btn:hover {
  transform: scale(1.05);
}

.cards-btn > p {
  width: 185px;
  text-align: left;
}

.cards__foreignEconomicActivity {
  margin-left: 40px;
  margin-right: 40px;
}

.cards__consulting {
  margin-right: 40px;
}

.cards__insurance::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(https://static.tildacdn.com/tild6163-6237-4738-a463-653332323665/shield.svg)
    85% 15%/90px 90px no-repeat;
  z-index: 1;
}

.cards__foreignEconomicActivity::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(https://static.tildacdn.com/tild6430-3161-4235-a262-613166636638/computer.svg)
    85% 15%/90px 90px no-repeat;
  z-index: 1;
}

.cards__consulting::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(https://static.tildacdn.com/tild6165-3034-4537-b161-393065366666/talk.svg)
    85% 20%/90px 90px no-repeat;
  z-index: 1;
}

.cards__customsClearance::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(https://optim.tildacdn.com/tild3366-6432-4466-b637-383731346166/-/resize/134x/-/format/webp/custom-clearance.png)
    85% 15%/90px 90px no-repeat;
  z-index: 1;
}

.arrow-right-additional-svg {
  width: 25px;
  height: auto;
}

/*  */
/* OVERLAY & MODAL */
/*  */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 110, 255, 0.25);
  cursor: pointer;
  z-index: 1;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 11px 12px 0 0;
  background-color: transparent;
  z-index: 2;
}

.cross-svg {
  width: 40px;
  height: 40px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 926px;
  height: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 10px 13px 13px 10px;
  background-color: #ffff;
  cursor: default;
  z-index: 3;
}

.modal-air {
  height: 496px;
}

.modal-oversized {
  height: 450px;
}

.modal-insurance,
.modal-foreign,
.modal-consulting,
.modal-customs {
  height: 469px;
}

.modal__left {
  width: 525px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 44px;
  padding-left: 28px;
}

.modal__left-air {
  width: 446px;
}

.modal__left-oversized,
.modal__left-warehousing {
  width: 484px;
}

.modal__left-insurance,
.modal__left-foreign,
.modal__left-consulting,
.modal__left-customs {
  width: 582px;
}

.modal__title {
  width: 448px;
  height: 96px;
  font-size: 40px;
  font-weight: 700;
  user-select: none;
  animation: from-left 0.7s forwards;
}

.modal__sea-title,
.modal__warehousing-services-title,
.modal__customs-title {
  height: 48px;
}

.modal__customs-title {
  width: 523px;
}

.modal__ul {
  margin-bottom: 14px;
  animation: from-left 0.7s forwards;
}

.ul-sea {
  margin-bottom: 40px;
}

.ul-oversized {
  margin-bottom: 5px;
}

.ul-warehousing {
  margin-bottom: 65px;
}

.ul-foreign {
  margin-bottom: 68px;
}

.ul-consulting {
  margin-bottom: 135px;
}

.ul-customs {
  margin-bottom: 0px;
}

.modal__ul > li {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5em;
}

.ul-sea > li {
  width: 428px;
}

.ul-railway > li {
  width: 441px;
}

.ul-air > li {
  width: 405px;
}

.ul-road > li {
  width: 453px;
}

.ul-oversized > li {
  width: 401px;
}

.ul-warehousing > li {
  width: 388px;
}

.ul-insurance > li,
.ul-foreign > li,
.ul-consulting > li,
.ul-customs > li {
  width: 488px;
}

.modal__button {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
  background-color: #0099d4;
  transition: background-color 0.5s;
  animation: from-bottom 0.7s forwards;
}

.services-button {
  margin-bottom: 30px;
}

.additional-services-button {
  margin-bottom: 10px;
}

.modal__button:hover {
  background-color: #0053a1;
  transition: background-color 0.5s;
}

.modal__right-sea {
  width: 401px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild3462-6566-4564-a666-303331653736/-/cover/480x480/center/center/-/format/webp/photo.png)
    center/100% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-railway {
  width: 401px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild6334-3030-4933-a639-643264623661/-/cover/480x480/left/center/-/format/webp/train.jpeg)
    center/100% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-air {
  width: 480px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild6137-6530-4737-a366-323438393336/-/cover/480x496/center/center/-/format/webp/air.jpeg)
    center/100% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-road {
  width: 401px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild6132-6264-4530-a637-623166306162/-/cover/480x480/center/center/-/format/webp/image_6.png)
    center/100% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-oversized {
  width: 442px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild6531-3362-4065-b037-313130373433/-/cover/442x450/center/center/-/format/webp/noroot.jpg)
    left/150% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-warehousing {
  width: 442px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: url(https://optim.tildacdn.com/tild3230-6463-4432-b365-323663383036/-/cover/442x450/center/center/-/format/webp/image_6_2.png)
    center/100% 100% no-repeat;
  animation: from-right 0.7s forwards;
}

.modal__right-insurance,
.modal__right-foreign,
.modal__right-consulting,
.modal__right-customs {
  position: relative;
  width: 344px;
  height: 100.3%;
  border-radius: 0 10px 10px 0;
  background-color: #0053a1;
  animation: from-right 0.7s forwards;
  z-index: 0;
}

.modal__right-insurance::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135px;
  height: 145px;
  background: url(https://static.tildacdn.com/tild6163-6237-4738-a463-653332323665/shield.svg)
    center/100% 100% no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal__right-foreign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135px;
  height: 145px;
  background: url(https://static.tildacdn.com/tild6430-3161-4235-a262-613166636638/computer.svg)
    center/100% 100% no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal__right-consulting::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135px;
  height: 145px;
  background: url(https://static.tildacdn.com/tild6165-3034-4537-b161-393065366666/talk.svg)
    center/100% 100% no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal__right-customs::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135px;
  height: 145px;
  background: url(https://optim.tildacdn.com/tild3366-6432-4466-b637-383731346166/-/resize/134x/-/format/webp/custom-clearance.png)
    center/100% 100% no-repeat;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*  */
/* FOOTER */
/*  */

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffff;
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: #0053a1;
}

/*  */
/* ANIMATIONS */
/*  */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45.7%);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes from-left-reverse {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes from-right-reverse {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-bottom-reverse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
