* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
/* HEADER */
/*  */

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: #0053a1;
}

.header__left {
  width: 35%;
  height: 100%;
  margin-left: 2.5em;
  background: url(./img/logo-header.svg) center left/210px 60px no-repeat;
  cursor: pointer;
}

.header__center {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.center__rate {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.rate__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.5);
  transform: translate(-50%, 15%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.rate__modal::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 12px 10px;
  border-color: transparent transparent rgba(255, 255, 255) transparent;
  z-index: 1;
  transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.rate__modal a {
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.rate__modal a:not(:last-child) {
  margin-bottom: 1.5em;
}

.rate__modal a:hover {
  color: #0098d4;
}

.center__rate:hover .rate__modal,
.center__rate:hover .rate__modal::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}

.center__triangle-down {
  width: 14px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.triangle-down-svg {
  transition-property: fill, transform;
  transition-duration: 0.5s, 0.3s;
}

.center__about,
.center__services,
.center__rate,
.center__career,
.center__contact,
.right__phone {
  position: relative;
  transition: color 0.5s;
  color: #ffff;
  text-decoration: none;
}

.center__about::after,
.center__services::after,
.center__career::after,
.center__contact::after,
.right__phone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #ffff;
  transform: scale(0);
  transition: transform 0.5s;
}

.center__about:hover::after,
.center__services:hover::after,
.center__career:hover::after,
.center__contact:hover::after,
.right__phone:hover::after {
  transform: scale(1);
}

.center__rate:hover .triangle-down-svg {
  transition-property: fill, transform;
  transition-duration: 0.5s, 0.3s;
  transform: rotate(180deg);
}

.header__right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.5em;
}

.right__phone {
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
}

/*  */
/* MAIN */
/*  */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__info {
  width: 1200px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
}

.info > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 135px;
  font-size: 42px;
  font-weight: 600;
  color: rgb(0, 83, 161);
}

.info__text {
  margin-top: 2.5em;
}

.info__text > p {
  font-size: 24px;
  line-height: 1.5em;
}

.content__vacancies {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3.5em;
  margin-bottom: 2.5em;
}

.vacancy-item {
  margin-top: 5em;
  color: black;
}

.vacancy-item > h2 {
  font-size: 40px;
}

.vacancy-item > h3 {
  margin-top: 1.5em;
  font-size: 16px;
}

.vacancy-item ul {
  margin-left: 1.1em;
}

.vacancy-item li {
  max-width: 530px;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

.vacancy-item li:first-child {
  margin-top: 10px;
}

.vacancies__btn {
  margin-top: 1.65em;
  padding: 17px 38px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #ffff;
  background-color: #0099d4;
  text-decoration: none;
}

.vacancies__btn:hover {
  background-color: #0053a1;
  transition: background-color 0.5s;
}

/*  */
/* FOOTER */
/*  */

.footer {
  width: 100%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background-color: #0053a1;
}

.footer__upper {
  /* width: 100%; */
  width: 1200px;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5em;

  /* background-color: black; */
}

.footer__upper p {
  width: 269px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
}

.footer__upper p > span {
  display: block;
}

.upper-footer__left {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;

  /* background-color: red; */
}

.upper-footer__left > p,
.upper-footer__center > p {
  height: 100%;
  line-height: 1.6em;
}

.upper-footer__title-left {
  font-size: 14px;
  font-weight: 700;
}

.logo-footer-svg {
  width: 140px;
  height: 53px;
  margin-bottom: 15px;
}

.upper-footer__center {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;

  /* background-color: orange; */
}

.upper-footer__title-center {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
}

.upper-footer__paragraph {
  margin-top: 1.7em;
}

.upper-footer__center > p {
  width: 342px;
}

.upper-footer__center > p > span > a {
  color: #ffff;
}

.upper-footer__center > p > span > a:hover {
  color: black;
}

.upper-footer__right {
  position: relative;
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;

  /* background-color: green; */
}

.upper-footer__input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 14px;
}

.input-label {
  padding-bottom: 5px;
}

.input-form__name {
  width: 100%;
}

.input-name,
.input-phone {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-bottom: 1px solid #ffff;
  background-color: transparent;
  color: #ffff;
}

.input-name::placeholder,
.input-phone::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input-form__phone {
  width: 100%;
  margin-top: 20px;
}

/* CUSTOM CHECKBOX */
.input-form__checkbox {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  border: 1px solid transparent;
  user-select: none;
}

.checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}

.checkbox::after {
  content: "\2714";
  position: absolute;
  width: 0px;
  height: 0px;
  top: -2.5px;
  left: 2.5px;
  font-size: 15px;
  color: #ffff;
  display: none;
}

.checkbox:checked {
  border-color: white;
}

.checkbox:checked::after {
  display: block;
}

.checkbox-text {
  width: 285px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.2em;
  cursor: pointer;
}
/*  */

.input-form__btn {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #ffff;
  background-color: #0099d4;
  transition: color 0.5s, background-color 0.5s;
}

.input-form__btn:hover {
  color: #0099d4;
  background-color: white;
  transition: color 0.5s, background-color 0.5s;
}

/* LINKEDIN */
.upper-footer__linkedin {
  position: absolute;
  top: -30px;
  top: -1.8em;
  right: -4em;

  /* background-color: blueviolet; */
}

.linkedin-circle {
  border: 3px solid white;
  padding: 0 2px;
  border-radius: 100%;
  background-color: transparent;
}

.linkedin-svg {
  width: 32px;
  height: 32px;
}
/*  */

.footer__bottom {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer__bottom > h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.footer__bottom > h4 > a {
  color: #ffff;
}

.footer__bottom > h4 > a:hover {
  color: black;
}

/*  */
/* OVERLAY-FEEDBACK & MODAL-FEEDBACK */
/*  */

.overlay-feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 1;
  overflow-y: scroll;
}

.modal-feedback__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 11px 12px 0 0;
  background-color: transparent;
  z-index: 2;
}

.cross-svg {
  width: 40px;
  height: 40px;
}

.modal-feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 560px;
  min-height: 806px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  padding: 40px 45px;
  border-radius: 10px 13px 13px 10px;
  background-color: #ffff;
  cursor: default;
  animation: fadeout reverse 0.5s forwards;
  z-index: 3;
}

.modal-feedback__left {
  width: 525px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-feedback__title {
  width: 448px;
  margin-bottom: 11px;
  font-size: 40px;
  font-weight: 700;
  user-select: none;
}

.modal-feedback__paragraph {
  font-size: 16px;
  line-height: 1.5em;
}

.modal-feedback__paragraph-confirm {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5em;
  text-align: justify;
}

.modal-feedback__paragraph-confirm > a {
  cursor: pointer;
  border-bottom: 1px solid black;
  color: black;
  text-decoration: none;
}

.modal-feedback__paragraph-confirm > a:hover {
  color: #0099d4;
  border-bottom: 1px solid #0099d4;
}

/* INPUT-FEEDBACK-FORM */
.modal-feedback__input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 0px;
  font-size: 14px;
}

.input-feedback-form__name,
.input-feedback-form__phone,
.input-feedback-form__email,
.input-feedback-form__text {
  width: 100%;
}

.input-feedback-name,
.input-feedback-phone,
.input-feedback-email,
.input-feedback-text {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border: 1px solid #8e8e8e77;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  background-color: transparent;
}

.input-feedback-name::placeholder,
.input-feedback-phone::placeholder,
.input-feedback-email::placeholder,
.input-feedback-text::placeholder {
  font-size: 16px;
  color: #8e8e8ecb;
}

.input-feedback-phone,
.input-feedback-email,
.input-feedback-text {
  margin-top: 25px;
}

.input-feedback-form__checkbox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid transparent;
  user-select: none;
}

.checkbox-feedback {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(97, 97, 97);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}

.checkbox-feedback::after {
  content: "\2714";
  position: absolute;
  width: 0px;
  height: 0px;
  top: -3.5px;
  left: 2.2px;
  font-size: 15px;
  color: black;
  display: none;
}

.checkbox-feedback:checked {
  border-color: black;
}

.checkbox-feedback:checked::after {
  display: block;
}

.checkbox-feedback-text {
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
/*  */

.modal-feedback__button {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
  background-color: #0099d4;
  transition: background-color 0.5s;
}

.modal-feedback__button:hover {
  background-color: #0053a1;
  transition: background-color 0.5s;
}

/*  */
/* ANIMATIONS */
/*  */

.add-border {
  border: 1px solid red;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
